body {
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/img/fondo.jpg');
  object-fit: cover;
  background-size: cover;
}

.boton-jugada:hover {
  background-color: #9bc7e4;
  box-shadow: rgb(31, 30, 30) 2px 2px;
}

#resultados {
  font-size: 20px;
  margin: 20px 0;
}

img{
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.boton-jugada{
  margin-top: 20px;
  background-color: rgba(211, 196, 194, 0.534);
  border-radius: 95px;
  width: 170px;
  height: 170px;
  animation: anim 10s infinite linear;
  border: 2px dashed wheat;
  cursor: pointer;
}

p, h1, h2{
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Kode Mono";
  background-color: rgba(211, 196, 194, 0.534);
  border-radius: 95px;
  border: 2px dashed wheat;
  width: 650px;
  letter-spacing: 1px;
}

.alumnos, #resultados{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resultados{
  margin-top: 25px;
}

.contadores{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@keyframes anim {
  0% {background-color:  rgb(255, 123, 123); opacity: 0.8;}
  25% {background-color:  rgb(60, 60, 255); opacity: 0.8;}
  50% {background-color:  rgb(38, 173, 190); opacity: 0.8;}
  75% {background-color:  rgb(126, 3, 126); opacity: 0.8;}
  100% {background-color:  rgb(53, 236, 123); opacity: 0.8;}
}