@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.boton-jugada {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
}


.boton-jugada:hover {
  background-color: #22638f;
  box-shadow: rgb(31, 30, 30) 2px 2px;
}

#resultados {
  font-size: 20px;
  margin: 20px 0;
  border: 1px solid red;
}

#contador-usuario , #contador-ordenador {
  transition: transform 0.2s ease, opacity 0.5s ease;
  animation: heartPump 2s ease-in-out infinite;
  opacity: 1;
}

/* @keyframes heartPump {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1); 
  }
} */

.contadores {
  border: 1px solid red; 
}

.botones{
  border: 1px solid red; 
}

.alumnos{
  border: 1px solid red; 
}

img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.boton-jugada{
  background-color: wheat;
}

p{
  font-family: "roboto";
}